/* ---------------General */
html{
    font-size: 62.5%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #575859;
    padding-left: 20%;
}

p{
    font-family: 'Nunito', sans-serif;
}

/* ---------------Découpage horizontal et backgrounds*/
/* Couleur d'un background sur deux */
.container:nth-child(odd){
    background-color: #f0f6ff;
}

/* ---------------Le titre */
/* Barre jaune au dessus du titre */
span{
    border-top: solid;
    border-color: #ffd800;
}

/* ---------------La zone des articles */
/* Affichage flexbox centré des articles */
.articles{
    display: flex;
    max-width: 60%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: auto;
}

/* ---------------Les articles */
/* Cadre et taille des articles */
article{
    border-color: #ffd800;
    border-style: solid;
    border-width: 7px;
    width: 160px;
    height: 160px;  
    margin: 5px; 
    position:relative;
}

/* Disposition du contenu des articles */
article:nth-child(n+2){
    display: flex;
    flex-direction: column;
}

/* Taille et position z des images des articles */
article:nth-child(n+2) img{
    width: 160px;
    height: 160px;
    z-index:1
}

/* texte et background des articles */
article:nth-child(n+2) p {
    background-color: #2f374b;
    color: #ffffff;
    position:absolute;
    bottom: -13px;
    width:150px;
    z-index:2;
    font-size: 1.3rem;
    padding: 7px 5px 7px 5px;
}

/* Disposition du contenu et background des articles jaunes */
article:first-of-type{
    background-color: #ffd800;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

/* Taille des logos des articles jaunes */
article:first-of-type img{
    width: 80px;
    height: 80px;
}

/* Taille du texte des articles jaunes */
article:first-of-type p{
    font-size: 1.5rem;
    text-align: center;
}

.hz_line{
    width: 90px;
    border: 1px solid #2F374B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

/*  */
article:first-of-type span{

}


